/* tabs hidden by default */
#options,
#help,
#about {
  display: none;
}

body {
  font-size: 12pt;
  font-family: 'sf_cartoonist_handregular', Arial, sans-serif;
  margin: 0;
  background: white;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 20px;
  color: var(--violet);
  background: var(--darkgrey);
}

.nav-background {
  background: var(--darkgrey);
}

#navigation {
  margin: auto;
  width: fit-content;
  padding: 10px;
}

button {
  font-size: 16pt;
  box-shadow: 9px 9px;
}

button:hover {
  cursor: pointer;
}

.action-button button:active,
.action-button button.active,
button:active,
button.active {
  box-shadow: 5px 5px;
  border-style: hidden;
  transition: box-shadow .1s ease;
}

.nav-button {
  display: inline-block;
  font-size: 12pt;
  margin: 0 5px;
}

.nav-button button {
  background: none;
  border: none;
  box-shadow: none;
  border-radius: var(--border-radius);
}

@media (min-width: 450px) {
  .nav-button button {
    padding: 10px 20px;
  }
}

@media (max-width: 350px) {
  .nav-button button {
    padding: 0;
  }
}


.action-button {
  width: 50%;
  display: inline-block;
  padding: 15px 5px;
  margin: -7px;
}

.action-button button {
  height: 40vw;
  max-height: 30vh;
  width: 40vw;
  border: 5px solid var(--darkgrey);
  margin: 10px auto;
  padding: 10px;
  display: block;
  font-size: 45px;
  border-radius: var(--border-radius);
}

.nav-button.open {
  border-bottom: 5px solid white;
}

.nav-button:focus-within {
    outline: 1px solid var(--violet);
}

.nav-button button:focus {
    outline: none;
}

#main {
  padding: 10px;
  background: white;
  color: var(--darkgrey);
  height: calc( 100vh - 167px );
}

#help, #about {
  width: 100%;
  overflow: auto;
  font-family: Arial, sans-serif;
}

.violet {
  background: var(--violet);
  color: var(--darkgrey);
  transition: var(--action-transition);
}

.red {
  background: var(--red);
  color: var(--darkgrey);
  transition: var(--action-transition);
}

.green {
  background: var(--green);
  color: var(--darkgrey);
  transition: var(--action-transition);
}

.blue {
  background: var(--blue);
  color: var(--darkgrey);
  transition: var(--action-transition);
}

.supports-hover.violet:hover {
  color: var(--violet);
  background: var(--darkgrey);
  transition: var(--action-transition);
}

.supports-hover.red:hover {
  color: var(--red);
  background: var(--darkgrey);
  transition: var(--action-transition);
}

.supports-hover.green:hover {
  color: var(--green);
  background: var(--darkgrey);
  transition: var(--action-transition);
}

.supports-hover.blue:hover {
  color: var(--blue);
  background: var(--darkgrey);
  transition: var(--action-transition);
}


.violet-reverse {
  color: var(--violet);
  background: var(--darkgrey);
  transition: var(--action-transition);
}

.red-reverse {
  color: var(--red);
  background: var(--darkgrey);
  transition: var(--action-transition);
}

.green-reverse {
  color: var(--green);
  background: var(--darkgrey);
  transition: var(--action-transition);
}

.blue-reverse {
  color: var(--blue);
  background: var(--darkgrey);
  transition: var(--action-transition);
}

.supports-hover.violet-reverse:hover {
  background: var(--violet);
  color: var(--darkgrey);
  transition: var(--action-transition);
}

.supports-hover.red-reverse:hover {
  background: var(--red);
  color: var(--darkgrey);
  transition: var(--action-transition);
}

.supports-hover.green-reverse:hover {
  background: var(--green);
  color: var(--darkgrey);
  transition: var(--action-transition);
}

.supports-hover.blue-reverse:hover {
  background: var(--blue);
  color: var(--darkgrey);
  transition: var(--action-transition);
}

#swatch {
  height: 100px;
  width: 100px;
  margin: auto;
  font-size: 90px;
  border-radius: var(--border-radius);
  display: none;
}

.key {
  color: var(--green);
  background: var(--darkgrey);
  padding: 1px 5px;
}

#action-buttons {
  display: none;
}

#start {
  display: block;
  margin: 25px auto;
  width: 60vw;
  height: 50vw;
  max-height: 50vh;
  font-size: 40pt;
  border: 1px solid var(--darkgrey);
  border-radius: var(--border-radius);
}

#display {
  color: var(--violet);
  background: var(--darkgrey);
  padding: 10px;
  font-size: 24px;
  text-align: center;
}

.options-section {
  margin: 10px 0;
  font-family: Arial, sans-serif;
}

:root {
  --violet: #FACBFB;
  --red: #FF0B0B;
  --green: #70FF46;
  --blue: #334FF1;
  --darkgrey: #000000;
  --border-radius: 45px;
  --action-transition: color .25s ease,background-color .25s ease;
}
